.image {
  height: 100px;
  width: 120px;
}

.image-1 {
  height: 30px;
  width: 30px;
  margin: 5px;
}

.details {
  display: flex;
  flex-direction: row;
}

.details-1 {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'ROBOTO';
  font-size: 14px;
  color: #475569;
  font-weight: 500;
}

.text {
  font-family: 'ROBOTO';
  font-size: 14px;
  color: #94a3b8;
  font-weight: 400;
  margin-left: 10px;
}

.home-app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-bg-dark {
  background-color: #000000;
}

.home-bg-light {
  background-color: #ffffff;
}

.home-responsive-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-image {
  height: 124px;
}

.home-heading {
  font-family: 'Roboto';
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 48px;
  }
}

.home-text-light {
  color: #ffffff;
}

.home-text-dark {
  color: #1e293b;
}

.box {
  height: 325px;
  width: 150px;
  margin: 10px;
  margin-left: 10px;
}
