.header-container-1 {
  height: 70px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.icon-1 {
  height: 40px;
  width: 100px;
  margin-top: 30px;
}

.icon {
  height: 30px;
  width: 30px;
  text-align: center;
  margin-top: 10px;
}

.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.c {
  color: white;
}

.btn1 {
  background-color: transparent;
  border-width: 0px;
}

.navbar-bg-dark {
  background-color: #333333;
}

.navbar-bg-light {
  background-color: #ffffff;
  border-bottom: 1px solid #dcdcdc;
  box-shadow: 0px 0px 0px 1px #dcdcdc;
}
